<p id="notice"><%= notice %></p>

<div class="col-lg-12">
    <div class="row"></div>

        <legend>Alterar Usuário</legend>
        
        <%= render 'form' %>
        
        <div class="col-lg-12">
            <%= link_to 'Show', @usuario %> |
            <%= link_to 'Back', usuarios_path %>
        </div>
    
    </div>
</div>