<!DOCTYPE HTML>

<html>
	<head>
		<title>Home | Dobro ou Nada</title>
		<meta charset="utf-8">
		
		<%= stylesheet_link_tag 'style' %>
		<%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    	<%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %> 
    <%= csrf_meta_tags %>
		
		
		<link href="https:" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
		<script src="" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		<link href="stylesheets/style.css" rel="stylesheet"/>
		<script src="javascripts/script.js"></script>
	</head>
	
	<body>
		<div class="bloco-home">
			<div class="bloco-home" id="banner-bloco-home">
				<div class="bloco-home" id="cor-preto-bloco-home">
					<div class="bloco-home" id="gradient-white">
						<div class="card-bloco-home">
						</div>
						<div class="card-bloco-home">
							<div id="conteudo-banner-bloco-home">
								<p id="titulo-banner-bloco-home">Dobro ou Nada</p>
								<hr/>
								<br/>
								<br/>
								<input type="button" value="Conheça" class="botao-banner-bloco-home"/>
								<input type="button" value="Entrar" class="botao-banner-bloco-home" id="entrar-banner-bloco-home"/>
							</div>
						</div>
						
						<div class="card-bloco-home">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="bloco-home" id="content-home">
			<div class="metade-home">
				<div class="box-content-home" id="circulo-content-home-1">
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<div class="imagem-content-home" id="content-home-1">
					</div>
					<br/>
					<p class="sub-content-home">Como Funciona</p>
				</div>
			</div>
			
			<div class="metade-home">
				<div class="etapa-bloco-home ajuste-etapa">
					<br/>
					<p class="titulo-etapa-bloco-home">Lorem Ipsum</p>
					<br/>
					<p class="conteudo-etapa-bloco-home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit nulla laoreet velit dictum, eget tincidunt libero maximus. Nam posuere varius dolor sed pharetra. Maecenas congue velit et facilisis gravida. Nunc sodales mauris eget enim.</p>
					<p class="conteudo-etapa-bloco-home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit nulla laoreet velit dictum, eget tincidunt libero maximus. Nam posuere varius dolor sed pharetra. Maecenas congue velit et facilisis gravida. Nunc sodales mauris eget enim.</p>
				</div>
			</div>
		</div>
		
		<div class="bloco-home" id="content-home">
			<div class="metade-home">
				<div class="etapa-bloco-home ajuste-etapa">
					<br/>
					<p class="titulo-etapa-bloco-home">Lorem Ipsum</p>
					<br/>
					<p class="conteudo-etapa-bloco-home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit nulla laoreet velit dictum, eget tincidunt libero maximus. Nam posuere varius dolor sed pharetra. Maecenas congue velit et facilisis gravida. Nunc sodales mauris eget enim.</p>
					<p class="conteudo-etapa-bloco-home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit nulla laoreet velit dictum, eget tincidunt libero maximus. Nam posuere varius dolor sed pharetra. Maecenas congue velit et facilisis gravida. Nunc sodales mauris eget enim.</p>
				</div>
			</div>
		
			<div class="metade-home">
				<div class="box-content-home" id="circulo-content-home-2">
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<div class="imagem-content-home" id="content-home-1">
					</div>
					<br/>
					<p class="sub-content-home">Como Funciona</p>
				</div>
			</div>
		</div>
		
		<div class="bloco-home" id="conheca">
			<div class="card-bloco-home">
				<div class="etapa-bloco-home">
					<div class="imagem-etapa-bloco-home" id="etapa-1">
					</div>
					<br/>
					<p class="titulo-etapa-bloco-home">Lorem Ipsum</p>
					<br/>
					<p class="conteudo-etapa-bloco-home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit nulla laoreet velit dictum, eget tincidunt libero maximus. Nam posuere varius dolor sed pharetra. Maecenas congue velit et facilisis gravida. Nunc sodales mauris eget enim.</p>
				</div>
			</div>
			
			<div class="card-bloco-home">
				<div class="etapa-bloco-home">
					<div class="imagem-etapa-bloco-home" id="etapa-2">
					</div>
					<br/>
					<p class="titulo-etapa-bloco-home">Lorem Ipsum</p>
					<br/>
					<p class="conteudo-etapa-bloco-home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit nulla laoreet velit dictum, eget tincidunt libero maximus. Nam posuere varius dolor sed pharetra. Maecenas congue velit et facilisis gravida. Nunc sodales mauris eget enim.</p>
				</div>
			</div>
			
			<div class="card-bloco-home">
				<div class="etapa-bloco-home">
					<div class="imagem-etapa-bloco-home" id="etapa-3">
					</div>
					<br/>
					<p class="titulo-etapa-bloco-home">Lorem Ipsum</p>
					<br/>
					<p class="conteudo-etapa-bloco-home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit nulla laoreet velit dictum, eget tincidunt libero maximus. Nam posuere varius dolor sed pharetra. Maecenas congue velit et facilisis gravida. Nunc sodales mauris eget enim.</p>
				</div>
			</div>
		</div>
	</body>
</html>